Which job did you apply for?

<% @jobs.each do |job| %>
  <form class="" action="<%=jobs_path%>" method="get">
    <%=job.title%>
    <input type="hidden" name="uid" value="<%=job.uid%>">
    <input type="submit" value="Select">
  </form>
<% end %>
